:host ::ng-deep {
  .container {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  section.header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .title {
      margin: 5rem auto 0 auto;
      text-align: center;

      & h1 {
        font-size: 2rem;
        z-index: 8;
        position: relative;
        color: var(--sbc-white);
      }

      & p {
        font-size: .9rem;
      }

      h1::before {
        content: "";
        display: block;
        height: 90%;
        width: 100%;
        margin-left: -3px;
        margin-right: -3px;
        position: absolute;
        background: var(--sbc-green);
        transform: rotate(2deg);
        border-radius: 20% 25% 20% 24%;
        padding: 10px 3px 3px 10px;
        z-index: -1;
      }
    }

    & .footer {
      display: flex;
      flex-wrap: wrap;
      width: 80%;
      align-items: center;
      justify-content: center;

      & .card {
        margin: 2rem 1rem;
        width: auto;
        border-radius: .4rem;
        border: 1px solid var(--sbc-green);
        padding: 3rem  2rem;
        text-align: center;
      }

      & .card:hover {
        border: 2px solid var(--sbc-green);
      }

      .p-button {
        background-color: var(--sbc-green);
        border: none;
      }
    }
  }
  section.footer-part {
    width: 100%;
    border-top: 1px solid var(--sbc-green);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
  }

  @media only screen and (max-width: 1100px) {
    .container {
      position: relative;
      width: 100%;
      height: auto;
    }
    section.header {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      & .title {
        margin: 0 auto;
        text-align: center;

        & h1 {
          font-size: 2rem;
          z-index: 8;
          position: relative;
          color: var(--sbc-white);
        }

        & p {
          font-size: .9rem;
          padding-top: 3rem;
        }

        h1::before {
          content: "";
          display: block;
          height: 90%;
          width: 100%;
          margin-left: -3px;
          margin-right: -3px;
          position: absolute;
          background: var(--sbc-green);
          transform: rotate(2deg);
          border-radius: 20% 25% 20% 24%;
          padding: 10px 3px 3px 10px;
          z-index: -1;
        }
      }

      & .footer {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: center;

        & .card {
          margin: 1rem;
          width: auto;
          border-radius: .4rem;
          border: 1px solid var(--sbc-green);
          padding: 3rem  2rem;
          text-align: center;
        }

        & .card:hover {
          border: 2px solid var(--sbc-green);
        }

        .p-button {
          background-color: var(--sbc-green);
          border: none;
        }
      }
    }
    section.footer-part {
      display: none;
    }
  }

  @media only screen and (max-width: 525px) {
    .container {
      position: relative;
      width: 100%;
      height: 1350px;
    }
    section.header {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      & .title {
        margin: 5rem auto;
        text-align: center;

        & h1 {
          font-size: 2rem;
          z-index: 8;
          position: relative;
          color: var(--sbc-white);
        }

        & p {
          font-size: .9rem;
          padding-top: 3rem;
        }

        h1::before {
          content: "";
          display: block;
          height: 90%;
          width: 100%;
          margin-left: -3px;
          margin-right: -3px;
          position: absolute;
          background: var(--sbc-green);
          transform: rotate(2deg);
          border-radius: 20% 25% 20% 24%;
          padding: 10px 3px 3px 10px;
          z-index: -1;
        }
      }

      & .footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;

        & .card {
          margin: 1rem;
          width: 90%;
          border-radius: .4rem;
          border: 1px solid var(--sbc-green);
          padding: 3rem  2rem;
          text-align: center;
        }

        & .card:hover {
          border: 2px solid var(--sbc-green);
        }

        .p-button {
          background-color: var(--sbc-green);
          border: none;
        }
      }
    }
    section.footer-part {
      width: 100%;
      border-top: 1px solid var(--sbc-green);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      font-size: var(--sbc-p-mobile);
    }
  }
}
