:host ::ng-deep {
  .p-tabview-nav {
    margin-top: 100px;
    & .p-tabview-nav-link {
      border: 1px solid lightgrey;
    }

    .p-highlight > a > span {
      color: var(--sbc-green) !important;
    }
  }
}
