:host ::ng-deep {
  .p-menubar {
    border: none;
    background-color: white !important;
    position: fixed;
    z-index: 100;
    border-radius: 0;
    top:0;
    left: 0;
    right: 0;
    font-size: .7rem;
    display: flex !important;
    justify-content: center !important;
    width: 100%;

    & .p-menubar-start {
      margin-right: 8rem !important;
    }

    & .p-element {
      //margin: 0 auto !important;
      margin: 0 auto;
      & .p-menuitem-link {
        //margin-right: 5rem !important;
      }
    }

    & .p-menubar-end {
      & .p-element {
        //margin-right: 1rem !important;
      }
    }
  }

  .p-menubar-button {
    position: absolute;
    right: 2%;
    top: 35%;
  }

  @media only screen and (min-width: 1257px) {
    .p-menubar {
      border: none;
      background-color: white !important;
      position: fixed;
      z-index: 100;
      border-radius: 0;
      top:0;
      left: 0;
      right: 0;
      font-size: .7rem;

      & .p-menubar-start {
        margin-right: 2px;
      }

      & .p-element {
        margin: 0 auto;

        & .p-menuitem-link {
          margin-right: 2px;
        }
      }

      & .p-menubar-end {
        & .p-element {
          margin-right: 2px;
        }
      }
    }
  }
  }
