:host ::ng-deep {
  .p-menubar {
    border: none;
    background-color: white !important;

    & .p-menubar-start {
      margin-right: 300px !important;
    }

    & .p-element {
      margin: 0 auto !important;

      & .p-menuitem-link {
        margin-right: 5rem !important;
      }
    }

    & .p-menubar-end {
      & .p-element {
        margin-right: 1rem !important;
      }
    }
  }
}
