<h1>{{ "OUR_SPACE.MAIN_TITLE" | translate }}</h1>
<p-divider></p-divider>
<div class="ourspace">
  <div>
    <div class="ourspace__wrapper">
      <div class="ourspace__wrapper__explanations">
        <h2>{{ "OUR_SPACE.INDOOR_TITLE" | translate }}</h2>
        <div class="ourspace__wrapper__explanations__block__indoor">
          <p>{{ "OUR_SPACE.INDOOR_TEXT" | translate }}</p>
          <p>{{ "OUR_SPACE.INDOOR_TEXT_SECOND" | translate }}</p>
          <p>{{ "OUR_SPACE.INDOOR_TEXT_LIST_ONE" | translate }}</p>
          <p>{{ "OUR_SPACE.INDOOR_TEXT_LIST_TWO" | translate }}</p>
        </div>
      </div>
      <div class="ourspace__wrapper__image">
        <img ngSrc="./assets/images/our-space/our-space-espace-interieur.webp" alt="Espai interior" height="600" width="800" [priority]="true"/>
      </div>
    </div>
    <div class="ourspace__indoor">
      <div class="ourspace__indoor__left">
        <img ngSrc="./assets/images/our-space/our-space-3.webp" alt="Sotabosc" height="800" width="1093">
      </div>
      <div class="ourspace__indoor__right">
        <img ngSrc="./assets/images/our-space/our-space-8.webp" alt="Sotabosc" height="395" width="637">
        <img ngSrc="./assets/images/our-space/our-space-9.webp" alt="Sotabosc" height="395" width="637">
      </div>
    </div>
    <p-divider></p-divider>
    <div class="ourspace__outdoor">
      <div class="ourspace__outdoor__explanations">
        <h2>{{ "OUR_SPACE.OUTDOOR_TITLE" | translate }}</h2>
        <div class="ourspace__outdoor__explanations__block">
          <p><span class="title">{{ "OUR_SPACE.OUTDOOR_GARDEN_TITLE" | translate }}</span><br><br> {{ "OUR_SPACE.OUTDOOR_GARDEN_TEXT" | translate }}</p>
        </div>
        <div class="ourspace__outdoor__explanations__block">
          <p><span class="title">{{ "OUR_SPACE.OUTDOOR_BOSC_TITLE" | translate }}</span><br><br> {{ "OUR_SPACE.OUTDOOR_BOSC_TEXT" | translate }}</p>
        </div>
        <div class="ourspace__outdoor__explanations__block">
          <p><span class="title">{{ "OUR_SPACE.OUTDOOR_FARM_TITLE" | translate }}</span><br><br>{{ "OUR_SPACE.OUTDOOR_FARM_TEXT" | translate }}</p>
        </div>
      </div>
      <div class="ourspace__outdoor__image">
        <img ngSrc="./assets/images/our-space/our-space-exterieur-lilia.webp" alt="Sotabosc" height="600" width="800"/>
      </div>
    </div>
    <div class="ourspace__indoor">
      <div class="ourspace__indoor__left">
        <img ngSrc="./assets/images/our-space/our-space-exterior-nerea-story.jpg" alt="Sotabosc" height="3024" width="4032"/>
      </div>
      <div class="ourspace__indoor__right">
        <img ngSrc="./assets/images/our-space/our-space-ane.webp" alt="Sotabosc" height="292" width="519"/>
        <img ngSrc="./assets/images/our-space/our-space-7.webp" alt="Sotabosc" height="395" width="637"/>
      </div>
    </div>
  </div>
</div>

