<h1>{{ "OUR_SPACE.MAIN_TITLE" | translate }}</h1>
<p-divider></p-divider>
<div class="ourspace">
  <div>
    <div class="ourspace__wrapper">
      <div class="ourspace__wrapper__explanations">
        <h2>{{ "OUR_SPACE.INDOOR_TITLE" | translate }}</h2>
        <div class="ourspace__wrapper__explanations__block__indoor">
          <p>{{ "OUR_SPACE.INDOOR_TEXT" | translate }}</p>
          <p>{{ "OUR_SPACE.INDOOR_TEXT_SECOND" | translate }}</p>
        </div>
        <div class="marker-container">
          <div class="ourspace__outdoor__explanations__block">
            <div class="marker">
              01
            </div>
            <p>{{ "OUR_SPACE.INDOOR_TEXT_LIST_ONE" | translate }}</p>
          </div>
          <div class="ourspace__outdoor__explanations__block">
            <div class="marker">
              02
            </div>
            <p>{{ "OUR_SPACE.INDOOR_TEXT_LIST_TWO" | translate }}</p>
          </div>
        </div>
      </div>
      <div class="ourspace__wrapper__image">
        <img ngSrc="./assets/images/our-space/our-space-1.webp" alt="" height="478" width="637" [priority]="true"/>
      </div>
    </div>
    <div class="ourspace__indoor">
      <div class="ourspace__indoor__left">
        <img ngSrc="./assets/images/our-space/our-space-3.webp" alt="" height="800" width="1093">
      </div>
      <div class="ourspace__indoor__right">
        <img ngSrc="./assets/images/our-space/our-space-8.webp" alt="" height="395" width="637">
        <img ngSrc="./assets/images/our-space/our-space-9.webp" alt="" height="395" width="637">
      </div>
    </div>
    <p-divider></p-divider>
    <div class="ourspace__outdoor">
      <div class="ourspace__outdoor__explanations">
        <h2>{{ "OUR_SPACE.OUTDOOR_TITLE" | translate }}</h2>
        <div class="ourspace__outdoor__explanations__block">
          <div class="marker">
            01
          </div>
          <p><span class="title">{{ "OUR_SPACE.OUTDOOR_GARDEN_TITLE" | translate }}</span><br><br> {{ "OUR_SPACE.OUTDOOR_GARDEN_TEXT" | translate }}</p>
        </div>
        <div class="ourspace__outdoor__explanations__block">
          <div class="marker">
            02
          </div>
          <p><span class="title">{{ "OUR_SPACE.OUTDOOR_BOSC_TITLE" | translate }}</span><br><br> {{ "OUR_SPACE.OUTDOOR_BOSC_TEXT" | translate }}</p>
        </div>
        <div class="ourspace__outdoor__explanations__block">
          <div class="marker">
            03
          </div>
          <p><span class="title">{{ "OUR_SPACE.OUTDOOR_FARM_TITLE" | translate }}</span><br><br>{{ "OUR_SPACE.OUTDOOR_FARM_TEXT" | translate }}</p>
        </div>
      </div>
      <div class="ourspace__outdoor__image">
        <img ngSrc="./assets/images/our-space/our-space-2.webp" alt="" height="471" width="637"/>
      </div>
    </div>
    <div class="ourspace__indoor">
      <div class="ourspace__indoor__left">
        <img ngSrc="./assets/images/our-space/our-space-6.webp" alt="" height="800" width="1093"/>
      </div>
      <div class="ourspace__indoor__right">
        <img ngSrc="./assets/images/our-space/our-space-5.webp" alt="" height="395" width="637"/>
        <img ngSrc="./assets/images/our-space/our-space-7.webp" alt="" height="395" width="637"/>
      </div>
    </div>
  </div>
</div>
