<h1>Instal.lacions</h1>
<p-divider></p-divider>
<div class="ourspace">
  <div>
    <div class="ourspace__wrapper">
      <div class="ourspace__wrapper__explanations">
        <h2>{{ "OUR_SPACE.INDOOR_TITLE" | translate }}</h2>
        <div class="ourspace__wrapper__explanations__block__indoor">
          <p>{{ "OUR_SPACE.INDOOR_TEXT" | translate }}</p>
          <p>{{ "OUR_SPACE.INDOOR_TEXT_SECOND" | translate }}</p>
        </div>
        <div class="marker-container">
          <div class="ourspace__outdoor__explanations__block">
            <div class="marker">
              01
            </div>
            <p>{{ "OUR_SPACE.INDOOR_TEXT_LIST_ONE" | translate }}</p>
          </div>
          <div class="ourspace__outdoor__explanations__block">
            <div class="marker">
              02
            </div>
            <p>{{ "OUR_SPACE.INDOOR_TEXT_LIST_TWO" | translate }}</p>
          </div>
        </div>
      </div>
      <div class="ourspace__wrapper__image">
        <img ngSrc="./assets/images/our-space/our-space-1.jpg" alt="" height="471" width="637" [priority]="true"/>
      </div>
    </div>
    <div class="ourspace__indoor">
      <div class="ourspace__indoor__left">
        <img ngSrc="./assets/images/our-space/our-space-3.jpg" alt="" height="800" width="1093">
      </div>
      <div class="ourspace__indoor__right">
        <img ngSrc="./assets/images/our-space/our-space-8.jpg" alt="" height="395" width="637">
        <img ngSrc="./assets/images/our-space/our-space-9.jpg" alt="" height="395" width="637">
      </div>
    </div>
    <div class="ourspace__outdoor">
      <div class="ourspace__outdoor__explanations">
        <h2>{{ "OUR_SPACE.OUTDOOR_TITLE" | translate }}</h2>
        <div class="ourspace__outdoor__explanations__block">
          <div class="marker">
            01
          </div>
          <p><span class="title">El jardí del refugi</span><br><br> L’espai exterior que envolta
            el refugi, està preparat per fomentar el joc
            lliure, amb diversos espais i materials, alguns
            d'ells creats per les famílies de l'escoleta.
            Els elements dels espais de joc, estan elaborats
            amb consideració cap a la natura, utilitzant els
            recursos disponibles i prioritzant materials
            naturals, tot tenint en compte el seu aspecte
            estètic.</p>
        </div>
        <div class="ourspace__outdoor__explanations__block">
          <div class="marker">
            02
          </div>
          <p><span class="title">El bosc</span><br><br> Només ens cal obrir una de les portes
            de la nostra finca, per poder creuar un camí i
            arribar al bosc. Ens envolta un bosc
            mediterrani de pins, llentiscle, romaní, etc.
            Amb molts espais per descobrir cada dia.</p>
        </div>
        <div class="ourspace__outdoor__explanations__block">
          <div class="marker">
            03
          </div>
          <p><span class="title">La granja</span><br><br> A la finca confrontada a la nostra, hi
            ha la Granja- Escola Corral de Neri. Amb més
            de 25 anys d’experiència, és un espai preparat
            per la infància on trobarem animals i
            instal·lacions lúdiques, de les quals podem
            gaudir diàriament.</p>
        </div>
      </div>
      <div class="ourspace__outdoor__image">
        <img ngSrc="./assets/images/our-space/our-space-2.jpg" alt="" height="471" width="637"/>
      </div>
    </div>
    <div class="ourspace__indoor">
      <div class="ourspace__indoor__left">
        <img ngSrc="./assets/images/our-space/our-space-6.jpg" alt="" height="800" width="1093"/>
      </div>
      <div class="ourspace__indoor__right">
        <img ngSrc="./assets/images/our-space/our-space-5.jpg" alt="" height="395" width="637"/>
        <img ngSrc="./assets/images/our-space/our-space-7.jpg" alt="" height="395" width="637"/>
      </div>
    </div>
  </div>
</div>
