<h1>{{ 'GLOBAL.EVENTS' | translate }}</h1>
<section>
    @for (event of events$; let index = $index; track event.id) {
      <div class="container" [ngStyle]="{'order': index}">
        <p-panel [showHeader]="false">
          <div class="image">
            <img [src]="event.imageUrl | async" alt="Evento">
          </div>
          <div class="informations">
            @if (event.date) {
              <p>{{ event.date }}
              </p>
            }
            @if(event.price > 0) {
              <p>{{ event.price | currency: 'EUR' }}</p>
            } @else {
              <p>Gratis.</p>
            }
            <p-divider></p-divider>
            <p class="description">{{ event.description | slice: 0 : 150 }}...</p>
            <div class="action">
              <a class="link-button" href="{{ event.googleFormLink }}" target="_blank"><p-button [label]="displayLabelFromState(event.isOpen) | translate" [disabled]="!event.isOpen"></p-button></a>
            </div>
          </div>
        </p-panel>
      </div>
    }
</section>
<footer class="footer">
  <div class="footer__container">
    <div class="footer__logo">
      <img src="assets/images/home/home-logo.webp" alt="Logo" />
    </div>

    <nav class="footer__nav">
      <a [routerLink]="['/la-nostra-pedagogia']">{{ "HOME.HERO.PEDAGOGY_BUTTON" | translate }}</a>
      <a [routerLink]="['/noticies']">{{ "GLOBAL.EVENTS" | translate }}</a>
      <a [routerLink]="['/preguntes-freqüents']">{{ "GLOBAL.FAQ" | translate }}</a>
      <a [routerLink]="['/contacte']">{{ "GLOBAL.CONTACT" | translate }}</a>
    </nav>

    <div class="footer__contacts">
      <a href="mailto:espaisotabosc@gmail.com" aria-label="Email">
        <i class="fas fa-envelope"></i>
      </a>
      <a href="https://www.instagram.com/espaisotabosc/" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://wa.me/+34668530571" target="_blank" rel="noopener noreferrer" aria-label="WhatsApp">
        <i class="fab fa-whatsapp"></i>
      </a>
    </div>
  </div>
  <div class="footer__bottom" style="text-align: center; padding: 1rem 0; font-size: 0.9rem; color: #666;">
    &copy; 2025 <a href="https://www.linkedin.com/in/martin-ferret/" target="_blank">Ferret Martin.</a> {{ "GLOBAL.ALL_RIGHTS_RESERVED" | translate }}
  </div>
</footer>
