<h1>{{ 'GLOBAL.EVENTS' | translate }}</h1>
<section>
    @for (event of events$; let index = $index; track event.id) {
      <div class="container" [ngStyle]="{'order': -index}">
        <p-panel [showHeader]="false">
          <div class="image">
            <img [src]="event.imageUrl | async" alt="Evento">
          </div>
          <div class="informations">
            @if (event.date) {
              <p>{{ event.date }} a las {{ event.hour }}</p>
            }
            @if(event.price) {
              <p>{{ event.price | currency: 'EUR' }}</p>
            } @else {
              <p>Gratis.</p>
            }
            <p-divider></p-divider>
            <p class="description">{{ event.description }}</p>
            <div class="action">
              <a class="link-button" href="{{ event.googleFormLink }}" target="_blank"><p-button [label]="displayLabelFromState(event.isOpen) | translate" [disabled]="!event.isOpen"></p-button></a>
            </div>
          </div>
        </p-panel>
      </div>
    }
</section>
