:host ::ng-deep {

  h1 {
    text-align: center;
    font-size: 2rem;
    padding-top: 3.5rem;
  }

  section {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap !important;
    align-items: center;
    justify-content: center;
    margin-top: -50px;

    & div.container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 30%;
      height: auto;

      & .informations {
        width: 100%;
        height: 30%
      }

      & .p-panel-content {
        border: none;
        box-shadow: black;

        & .image {
          position: relative;
          width: 100%;
          height: 70%;
          & img {
            width: 100%;
            height: 70%;
          }
        }

        & h2.title {
          margin: 1rem 0;
          font-size: 1.7rem;
        }

        & p.description {
          width: 80%;
          text-align: justify;
          //margin-top: 1rem;
        }

        & p.date {
          font-style: italic;
        }

        & button {
          margin-top: 1.3rem;
          height: 35px;
          width: 80%;
        }
      }
    }
  }

  h1 {
    text-align: center;
    margin-top: 3rem;
    font-size: 1.5rem;
  }

  p {
    font-size: .9rem;
  }

  & .p-divider {
    width: 80%;
  }
  @media only screen and (max-width: 1100px) {
    h1 {
      text-align: center;
      font-size: var(--sbc-h1-mobile);
      padding-top: 3.5rem;
    }

    h2 {
      font-size: var(--sbc-h2-mobile);
    }

    p {
      font-size: var(--sbc-p-mobile);
    }

    section {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      & div.container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: auto;

        & .p-panel-content {
          border: none;
          box-shadow: black;

          & .image {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            & img {
              width: 100%;
              height: 400px;
            }
          }

          & h2.title {
            margin: 1rem 0;
            font-size: 1.7rem;
          }

          & p.description {
            width: 100%;
            text-align: justify;
            margin-top: 1rem;
          }

          & p.date {
            font-style: italic;
          }

          & button {
            margin-top: 1.3rem;
            width: 80%;
          }
        }
      }
    }

    h1 {
      text-align: center;
      margin-top: 3rem;
      font-size: 1.5rem;
    }

    .informations {
      width: 100%;
    }
    .action {
      text-align: center;
    }
    }

  @media only screen and (max-width: 525px) {
    h1 {
      text-align: center;
      font-size: var(--sbc-h1-mobile);
      padding-top: 3.5rem;
    }

    h2 {
      font-size: var(--sbc-h2-mobile);
    }

    p {
      font-size: var(--sbc-p-mobile);
    }

    section {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 2rem;

      & div.container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-top: 10px;

        & .p-panel-content {
          border: none;
          box-shadow: black;
          width: 100%;

          & .image {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            & img {
              width: 100%;
              height: 400px;
            }
          }

          & h2.title {
            margin: 1rem 0;
            font-size: var(--sbc-h2-mobile);
          }

          & p.description {
            width: 100%;
            text-align: justify;
            margin-top: 1rem;
          }

          & p.date {
            font-style: italic;
          }

          & button {
            margin-top: 1.3rem;
            width: 80%;
          }
        }
      }
    }

    h1 {
      text-align: center;
      margin-top: 3rem;
      font-size: 1.5rem;
    }

    .informations {
      width: 100%;
    }
    .action {
      text-align: center;
    }
  }
  }
