<h1>Noticias</h1>

<section>
    @for (event of events$; track event.id) {
      <div class="container">
        <p-panel [showHeader]="false">
          <div class="image">
            <img [src]="event.imageUrl | async" alt="Evento">
          </div>
          <div class="informations">
            @if (event.date) {
              <p>{{ event.date }} a las {{ event.hour }}</p>
            }
            @if(event.price) {
              {{ event.price | currency: 'EUR' }}
            } @else {
              <p>Gratis.</p>
            }
            <p-divider></p-divider>
            <p class="description">{{ event.description }}</p>
            <div class="action">
              <a class="link-button" href="{{ event.googleFormLink }}" target="_blank"><p-button [label]="'EVENTS.REGISTER' | translate"></p-button></a>
            </div>
          </div>
        </p-panel>
      </div>
    }
</section>
