<p-toast></p-toast>
<section>
  <form [formGroup]="eventForm">
    <span class="p-float-label input">
      <input pInputText id="title" [formControl]="eventForm.controls.title"/>
      <label for="title">{{ "ADMIN.FORM.TITLE" | translate }} *</label>
    </span>
    <span class="p-float-label input">
      <textarea pInputTextarea rows="10" cols="30" id="description" [formControl]="eventForm.controls.description"></textarea>
      <label for="description">{{ "ADMIN.FORM.DESCRIPTION" | translate }} *</label>
    </span>
    <span class="p-float-label input">
      <input pInputText id="hour" [formControl]="eventForm.controls.hour"/>
      <label for="hour">{{ "ADMIN.FORM.HOUR" | translate }} *</label>
    </span>
    <span class="p-float-label input">
      <input pInputText id="date" [formControl]="eventForm.controls.date"/>
      <label for="date">{{ "ADMIN.FORM.DATE" | translate }} *</label>
    </span>
    <span class="p-float-label input">
      <p-inputNumber id="price" [formControl]="eventForm.controls.price"/>
      <label for="price">{{ "ADMIN.FORM.PRICE" | translate }} *</label>
    </span>
    <span class="p-float-label input">
      <input pInputText id="googleFormLink" [formControl]="eventForm.controls.googleFormLink"/>
      <label for="googleFormLink">{{ "ADMIN.FORM.GOOGLE_LINK" | translate }}</label>
    </span>
    <span class="switch">
      <label for="isOpen">{{ "ADMIN.FORM.STATUS" | translate }} *</label>
      <p-inputSwitch id="isOpen" [formControl]="eventForm.controls.isOpen"> </p-inputSwitch>
    </span>
    <span class="input">
      <p-fileUpload mode="basic" [chooseLabel]="'ADMIN.FORM.UPLOAD_IMAGE' | translate" name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" [maxFileSize]="1000000" (onUpload)="onUpload($event)" styleClass="p-button-outlined"></p-fileUpload>
    </span>
    <p-button [label]="'GLOBAL.CREATE' | translate" (click)="createEvent()"></p-button>
  </form>
</section>
