:host ::ng-deep {
  section {
    & .event-bar {
      z-index: 200;
      width: 100%;
      height: 4.5rem;
      position: absolute;
      top: 6rem;
      left: 0;
      right: 0;
      background-color: var(--sbc-green-secondary);
      display: flex !important;
      flex-direction: row !important;
      justify-content: center !important;
      align-items: center !important;

      & button {
        margin: 0 4rem;
      }

      & p {
        font-size: 1.2rem;
      }
    }
  }
}
