<section>
  <p-panel [showHeader]="false">
    <div class="image">
      <img ngSrc="./assets/images/home/logo-hero.jpg" height="1000" width="1000" alt="" [priority]="true">
    </div>
    <div class="hero">
      <h2>{{ "HOME.HERO.TITLE" | translate }}</h2>
      <p>{{ "HOME.HERO.TEXT" | translate }}</p>
      <div class="hero__buttons">
        <p-button [label]="'HOME.HERO.PEDAGOGY_BUTTON' | translate" [routerLink]="['/la-nostra-pedagogia']"></p-button>
        <p-button [label]="'HOME.HERO.DAY_IN_SOTABOSC' | translate" [routerLink]="['/un-dia-a-sotabosc']" routerLink="/events" styleClass="p-button-outlined"></p-button>
      </div>
    </div>
  </p-panel>
</section>

<section>
  <div class="explanations">
    <div class="explanations__wrapper step-one">
      <div class="center">
        <p-button [label]="'HOME.HERO.DAY_IN_SOTABOSC' | translate" [routerLink]="['/un-dia-a-sotabosc']"></p-button>
      </div>
    </div>
    <div class="explanations__wrapper step-two">
      <div>
        <p-button [label]="'GLOBAL.OUR_SPACE' | translate" [routerLink]="['/el-nostre-espai']"></p-button>
      </div>
    </div>
    <div class="explanations__wrapper step-three">
      <div>
        <p-button [label]="'GLOBAL.FAQ' | translate" [routerLink]="['/preguntes-freqüents']"></p-button>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="citation">
    <p>“ {{ "HOME.GREEN_BANNER.CITATION" | translate }} ”</p>
    <p>{{ "HOME.GREEN_BANNER.AUTHOR" | translate }}</p>
  </div>
</section>

<section>
  <div class="motivation">
    <div class="motivation__block">
      <fa-icon [icon]="faTree" size="4x"></fa-icon>
      <p>{{ "HOME.MOTIVATION.STEP_ONE" | translate }}</p>
    </div>
    <div class="motivation__block">
      <fa-icon [icon]="faPaw" size="4x"></fa-icon>
      <p>{{ "HOME.MOTIVATION.STEP_TWO" | translate }}</p>
    </div>
    <div class="motivation__block">
      <fa-icon [icon]="faSeedling" size="4x"></fa-icon>
      <p>{{ "HOME.MOTIVATION.STEP_THREE" | translate }}</p>
    </div>
  </div>
</section>

<section>
  <div class="photos">
    <div class="photos__left">
      <img ngSrc="./assets/images/home/home-footer-2.jpg" alt="photo" height="1200" width="1600"/>
      <img ngSrc="./assets/images/home/home-6.jpg" alt="photo" height="392" width="523"/>
      <img ngSrc="./assets/images/home/home-7.jpg" alt="photo" height="392" width="523"/>
      <img ngSrc="./assets/images/home/home-footer-3.jpg" alt="photo" height="1200" width="1600"/>
    </div>
    <div class="photos__right">
      <img ngSrc="./assets/images/home/home-footer-1.jpg" height="1600" width="1200" alt="photo" />
    </div>
  </div>
</section>
