<section>
  <h1>{{ "FAQ.TITLE" | translate }}</h1>
  <p-accordion [activeIndex]="0">
    <p-accordionTab [header]="'FAQ.QUESTION_ONE' | translate">
      <p>
        {{ "FAQ.REPLY_ONE" | translate }}
      </p>
    </p-accordionTab>
    <p-accordionTab [header]="'FAQ.QUESTION_TWO' | translate">
      <p>
        {{ "FAQ.REPLY_TWO_PART_ONE" | translate }}
      </p>
      <p>{{ "FAQ.REPLY_TWO_PART_TWO" | translate }}</p>
    </p-accordionTab>
    <p-accordionTab [header]="'FAQ.QUESTION_THREE' | translate">
      <p>
        {{ "FAQ.REPLY_THREE" | translate }}
      </p>
    </p-accordionTab>
    <p-accordionTab [header]="'FAQ.QUESTION_FOUR' | translate">
      <p>
        {{ "FAQ.REPLY_FOUR" | translate }}
      </p>
    </p-accordionTab>
    <p-accordionTab [header]="'FAQ.QUESTION_FIVE' | translate">
      <p>
        {{ "FAQ.REPLY_FIVE" | translate }}
      </p>
    </p-accordionTab>
  </p-accordion>
</section>

<footer class="footer">
  <div class="footer__container">
    <div class="footer__logo">
      <a href="#">
        <img src="assets/images/home/home-logo.webp" alt="Logo" />
      </a>    </div>

    <nav class="footer__nav">
      <a [routerLink]="['/la-nostra-pedagogia']">{{ "HOME.HERO.PEDAGOGY_BUTTON" | translate }}</a>
      <a [routerLink]="['/noticies']">{{ "GLOBAL.EVENTS" | translate }}</a>
      <a [routerLink]="['/preguntes-freqüents']">{{ "GLOBAL.FAQ" | translate }}</a>
      <a [routerLink]="['/contacte']">{{ "GLOBAL.CONTACT" | translate }}</a>
    </nav>

    <div class="footer__contacts">
      <a href="mailto:espaisotabosc@gmail.com" aria-label="Email">
        <i class="fas fa-envelope"></i>
      </a>
      <a href="https://www.instagram.com/espaisotabosc/" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://wa.me/+34668530571" target="_blank" rel="noopener noreferrer" aria-label="WhatsApp">
        <i class="fab fa-whatsapp"></i>
      </a>
    </div>
  </div>
  <div class="footer__bottom" style="text-align: center; padding: 1rem 0; font-size: 0.9rem; color: #666;">
    &copy; 2025 <a href="https://www.linkedin.com/in/martin-ferret/" target="_blank">Ferret Martin.</a> {{ "GLOBAL.ALL_RIGHTS_RESERVED" | translate }}
  </div>
</footer>
