<section>
  <h1>{{ "FAQ.TITLE" | translate }}</h1>
  <p-divider></p-divider>
  <p-accordion [activeIndex]="0">
    <p-accordionTab [header]="'FAQ.QUESTION_ONE' | translate">
      <p>
        {{ "FAQ.REPLY_ONE" | translate }}
      </p>
    </p-accordionTab>
    <p-accordionTab [header]="'FAQ.QUESTION_TWO' | translate">
      <p>
        {{ "FAQ.REPLY_TWO_PART_ONE" | translate }}
      </p>
      <p>{{ "FAQ.REPLY_TWO_PART_TWO" | translate }}</p>
    </p-accordionTab>
    <p-accordionTab [header]="'FAQ.QUESTION_THREE' | translate">
      <p>
        {{ "FAQ.REPLY_THREE" | translate }}
      </p>
    </p-accordionTab>
    <p-accordionTab [header]="'FAQ.QUESTION_FOUR' | translate">
      <p>
        {{ "FAQ.REPLY_FOUR" | translate }}
      </p>
    </p-accordionTab>
  </p-accordion>
</section>
