<section>
  <h1>Preguntes Freqüents</h1>
  <p-divider></p-divider>
  <p-accordion [activeIndex]="0">
    <p-accordionTab header="Cal algun tipus de roba especial per una escola a l’aire lliure?">
      <p>
        No, només cal que sigui roba còmoda que permeti un moviment lliure en els diferents espais que
        visitem dia a dia. A més a més d’una motxilla per portar a les sortides al bosc.
      </p>
    </p-accordionTab>
    <p-accordionTab header="Quan plou sortiu a l’exterior?">
      <p>
        “no hi ha mal temps, sinó roba inadequada”.
      </p>
      <p>Amb els petos impermeables i les botes d’aigua, el millor que ens pot passar és un dia de pluja per

        gaudir de l’aigua, els tolls i el fang.</p>
    </p-accordionTab>
    <p-accordionTab header="Hi ha servei d’acollida o l’horari és fix?">
      <p>
        Sí, hi ha servei d’acollida a les 8h al matí i fins les 16h a la tarda (podem parlar i adaptar-nos de
        casos amb altres necessitats).
      </p>
    </p-accordionTab>
    <p-accordionTab header="Quins beneficis té una escola a la natura?">
      <p>
        L&#39;entorn exterior és un recurs ric i dinàmic que ofereix una àmplia gamma d&#39;experiències educatives i
        naturals que enriquiren el creixement i el desenvolupament dels nens de manera integral.
      </p>
    </p-accordionTab>
  </p-accordion>
</section>
