:host ::ng-deep {
  .footer {
    width: 100%;
    height: 75px;
    background-color: var(--sbc-green);
    color: var(--sbc-white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--sbc-p-mobile);
    margin-top: 3rem;

    & a {
      color: var(--sbc-white);
    }
  }
}
