<section class="wrapper">
<h1>{{ "HOW_IT_WORKS.DAY_IN_SOTABOSC" | translate }}</h1>

<section class="header-section">
  <div class="timeline">
    <h2>{{ "HOW_IT_WORKS.MOMENTS_OF_THE_DAY" | translate }}</h2>
    <br>
    <p-timeline [value]="events()">
      <ng-template pTemplate="content" let-event>
        <small class="p-text-secondary">{{ event.status }}</small>
      </ng-template>
      <ng-template pTemplate="opposite" let-event>
        {{ event.date }}
      </ng-template>
    </p-timeline>
  </div>
  <div class="image">
    <img ngSrc="./assets/images/how-it-works/our-staff-timeline.jpg" alt="Sotabosc" height="600" width="400" [priority]="true"/>
  </div>
</section>
</section>
<footer class="footer">
  <div class="footer__container">
    <div class="footer__logo">
      <a href="#">
        <img src="assets/images/home/home-logo.webp" alt="Logo" />
      </a>
    </div>

    <nav class="footer__nav">
      <a [routerLink]="['/la-nostra-pedagogia']">{{ "HOME.HERO.PEDAGOGY_BUTTON" | translate }}</a>
      <a [routerLink]="['/noticies']">{{ "GLOBAL.EVENTS" | translate }}</a>
      <a [routerLink]="['/preguntes-freqüents']">{{ "GLOBAL.FAQ" | translate }}</a>
      <a [routerLink]="['/contacte']">{{ "GLOBAL.CONTACT" | translate }}</a>
    </nav>

    <div class="footer__contacts">
      <a href="mailto:espaisotabosc@gmail.com" aria-label="Email">
        <i class="fas fa-envelope"></i>
      </a>
      <a href="https://www.instagram.com/espaisotabosc/" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://wa.me/+34668530571" target="_blank" rel="noopener noreferrer" aria-label="WhatsApp">
        <i class="fab fa-whatsapp"></i>
      </a>
    </div>
  </div>
  <div class="footer__bottom" style="text-align: center; padding: 1rem 0; font-size: 0.9rem; color: #666;">
    &copy; 2025 <a href="https://www.linkedin.com/in/martin-ferret/" target="_blank">Ferret Martin.</a> {{ "GLOBAL.ALL_RIGHTS_RESERVED" | translate }}
  </div>
</footer>

