<h1>{{ "HOW_IT_WORKS.DAY_IN_SOTABOSC" | translate }}</h1>
<p-divider></p-divider>

<section class="header-section">
  <div class="timeline">
    <h2>{{ "HOW_IT_WORKS.MOMENTS_OF_THE_DAY" | translate }}</h2>
    <p-timeline [value]="events()">
      <ng-template pTemplate="content" let-event>
        <small class="p-text-secondary">{{ event.status }}</small>
      </ng-template>
      <ng-template pTemplate="opposite" let-event>
        {{ event.date }}
      </ng-template>
    </p-timeline>
  </div>
  <div class="image">
    <img loading="lazy" src="./assets/images/how-it-works/how-it-works-1.jpg" alt="" />
  </div>
</section>

<p-divider></p-divider>

<section class="footer-section">
  <div class="image">
    <img loading="lazy" src="./assets/images/how-it-works/how-it-works-2.jpg" alt="" />
  </div>
  <p-panel class="description" [showHeader]="false">
    <div class="scriptures">
      <h2>{{ "HOW_IT_WORKS.ROLE_TITLE" | translate }}</h2>
      <p>{{ "HOW_IT_WORKS.ROLE_TEXT_PART_ONE" | translate }}</p>
      <p>{{ "HOW_IT_WORKS.ROLE_TEXT_PART_TWO" | translate }}</p>
      <p>{{ "HOW_IT_WORKS.ROLE_TEXT_PART_THREE" | translate }}</p>
      <p>{{ "HOW_IT_WORKS.ROLE_TEXT_PART_FOUR" | translate }}</p>
    </div>
  </p-panel>
</section>
