<h1>{{ "GLOBAL.OUR_PEDAGOGY" | translate }}</h1>
<p-divider></p-divider>
<div class="we">
  <div class="we__hero">
    <div class="we__hero__image">
      <img ngSrc="./assets/images/who-we-are/test-1.jpg" [priority]="true" alt="Sotabosc" height="1512" width="2016"/>
    </div>
    <div class="we__hero__description">
      <h2>{{ "WHO_WE_ARE.OUR_PROJECT" | translate }}</h2>
      <p class="description">{{ "WHO_WE_ARE.TEXT_ONE" | translate }}</p>
      <p class="description">{{ "WHO_WE_ARE.TEXT_TWO" | translate }}</p>
      <p class="description">{{ "WHO_WE_ARE.TEXT_THREE" | translate }}</p>
      <p class="description">{{ "WHO_WE_ARE.TEXT_FOUR" | translate }}</p>
      <p class="description">{{ "WHO_WE_ARE.TEXT_FIVE" | translate }}</p>
      <p class="description">{{ "WHO_WE_ARE.TEXT_SIX" | translate }}</p>
    </div>
  </div>

  <div class="we__pedagogy">
    <div class="we__pedagogy__image first">
      <img ngSrc="./assets/images/who-we-are/test-2.jpg" alt="Sotabosc" height="1512" width="2016"/>
    </div>
    <div class="we__pedagogy__description">
      <h2>{{ "WHO_WE_ARE.OUR_PEDAGOGY" | translate }}</h2>
      <div class="we__pedagogy__description__blocks">
        <div class="we__pedagogy__description__blocks__block">
          <div class="handshake">
            <fa-icon [icon]="faHandshake" size="4x"></fa-icon>
          </div>
          <div class="text">
            <p>{{ "WHO_WE_ARE.PEDAGOGY_TEXT_ONE" | translate }}</p>
            <br>
            <p>{{ "WHO_WE_ARE.PEDAGOGY_TEXT_TWO" | translate }}</p>
          </div>
        </div>
        <div class="we__pedagogy__description__blocks__block">
          <div class="test">
            <fa-icon [icon]="faTree" size="4x"></fa-icon>
          </div>
          <div class="tree text">
            <p>{{ "WHO_WE_ARE.PEDAGOGY_TEXT_THREE" | translate }}</p>
            <br>
            <p>{{ "WHO_WE_ARE.PEDAGOGY_TEXT_FOUR" | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="we__pedagogy__two">
    <div class="we__pedagogy__two__image reversed">
      <img ngSrc="./assets/images/who-we-are/test-3.jpg" alt="Sotabosc" height="756" width="1008"/>
    </div>
    <div class="we__pedagogy__two__description">
      <div class="we__pedagogy__two__description__blocks">
        <div class="we__pedagogy__two__description__blocks__block"></div>
        <div class="we__pedagogy__two__description__blocks__block">
          <div>
            <fa-icon [icon]="faPaw" size="4x"></fa-icon>
          </div>
          <div class="paw text">
            <p>{{ "WHO_WE_ARE.PEDAGOGY_TEXT_FIVE" | translate }}</p>
            <br>
            <p>{{ "WHO_WE_ARE.PEDAGOGY_TEXT_SIX" | translate }}</p>
            <br>
            <p>{{ "WHO_WE_ARE.PEDAGOGY_TEXT_SEVEN" | translate }}</p>
          </div>
        </div>
        <div class="we__pedagogy__two__description__blocks__block">
          <div>
            <fa-icon [icon]="faHeart" size="4x"></fa-icon>
          </div>
          <div class="heart text">
            <p>{{ "WHO_WE_ARE.PEDAGOGY_TEXT_EIGHT" | translate }}</p>
            <br>
            <p>{{ "WHO_WE_ARE.PEDAGOGY_TEXT_NINE" | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
