@import "primeicons/primeicons.css";

:root {
  --sbc-white: white;
  --sbc-black: black;
  --sbc-green: #2dac7b;
  --sbc-green-secondary: #b6c570;
}

html,
body {
  height: 100%;
  background-color: var(--sbc-white);
  font-family: 'Inter var', sans-serif;
  margin: 0;
  padding: 0 1.2rem;
  box-sizing: border-box;
  font-size: 1rem;
}

.p-button-outlined {
  background-color: var(--sbc-white) !important;
  color: var(--sbc-green) !important;
}

.p-button {
  background-color: var(--sbc-green);
  border: 1px solid var(--sbc-green);
  color: white;
}

.p-timeline-event-marker {
  background-color: var(--sbc-green) !important;
  border: none;
}
