<section class="footer-section">
  <div class="image">
    <img ngSrc="./assets/images/how-it-works/how-it-works-2.webp" alt="Sotabosc" height="630" width="575"/>
  </div>
  <p-panel class="description" [showHeader]="false">
    <div class="scriptures">
      <h2>{{ "HOW_IT_WORKS.ROLE_TITLE" | translate }}</h2>
      <p>{{ "HOW_IT_WORKS.ROLE_TEXT_PART_ONE" | translate }}</p>
      <p>{{ "HOW_IT_WORKS.ROLE_TEXT_PART_TWO" | translate }}</p>
      <p>{{ "HOW_IT_WORKS.ROLE_TEXT_PART_THREE" | translate }}</p>
      <p>{{ "HOW_IT_WORKS.ROLE_TEXT_PART_FOUR" | translate }}</p>
    </div>
  </p-panel>
</section>
