:host ::ng-deep {
  .buttons-container {
    display: flex;
    flex-direction: row;

    & .p-element {
      margin: 0 1rem !important;
    }
  }

  @media only screen and (max-width: 525px) {
    .p-confirm-dialog-reject {
      background-color: white !important;
      border: 1px solid var(--sbc-green);
      outline: none;
      color: var(--sbc-green);
    }
  }
}
